.hero {
  position: relative;
  padding: 1em;
  @media only screen and (min-width: $break--small) {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 5em 0;
    color: $white;
    &:before {
      content: "";
      @include absolute(0, 0, 0, 0);
      background-color: rgba(0, 0, 0, 0.45);
    }
    .hero__title {
      color: $white;
    }
    .hero__desc {
      font-size: $fontSize--h3;
      max-width: 50%;
    }
  }
}
.hero--home {
  @media only screen and (min-width: $break--small) {
    background-image: url("images/heroes/rocket.jpg");
  }
}
.hero--vegas {
  @media only screen and (min-width: $break--small) {
    background-image: url("images/heroes/vegas.jpg");
  }
}
.hero__title,
.hero__desc,
.hero__sub {
  position: relative;
}
.hero__title {
  font-style: italic;
  color: $gray;
}
.hero__sub {
  margin: 1em 0;
}
.hero__subText {
  display: none;
  vertical-align: middle;
  padding-right: 1em;
  margin-right: 1em;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  line-height: 2;
  @media only screen and (min-width: $break--small) {
    display: inline-block;
  }
}
