.section {
  padding: 1em;
  h1,
  h2,
  h3 {
    color: $gray;
    font-style: italic;
  }
  @media only screen and (min-width: $break--small) {
    &:first-of-type {
      padding-top: 2em;
    }
  }
}
