.steps {
  display: block;
  list-style: none;
  @media only screen and (min-width: $break--small) {
    @include flexbox;
    @include flex-space-between;
    @include flex-wrap(wrap);
    @include flex-direction(row);
  }
}
.step {
  margin-bottom: 1em;
  > h3 {
    color: $green;
  }
  @media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    padding-right: 2em;
    width: 50%;
  }
  @media only screen and (min-width: $break--medium) {
    padding-right: 2em;
    width: 25%;
  }
}
