.testimonial {
  padding: 1em 0;
  @media only screen and (min-width: $break--medium) {
    @include flexbox;
    @include flex-space-between;
    @include flex-wrap(wrap);
    @include flex-direction(row);
    @include align-items(center);
  }
}
.testimonial__video {
  width: 100%;
  @media only screen and (min-width: $break--medium) {
    max-width: 100%;
    @include flex(1);
  }
}
.testimonial__quote {
  margin-top: 1em;
  @media only screen and (min-width: $break--medium) {
    @include flex(1);
    margin: 0 2em;
  }
}
